<!DOCTYPE html>
<html ng-app='worldPop'>
<head>
<title>World Populations</title>
</head>
<body>
<div ng-controller='TabularCtrl'>
  <table>
    <thead><tr>
      <th>Country</th>
      <th ng-repeat='year in years'>{{year}}</th>
    </tr></thead>
    <tbody>
      <tr ng-repeat='countryData in countriesData'>
        <td>{{countryData.name}}</td>
        <td ng-repeat='yearPop in countryData.populationByYear'>
          {{yearPop.population}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script type='text/javascript'>
  var worldPopData = <%- worldPopData %>;
</script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js'></script>
<script src='/app.js'></script>
<script src='/services/wp_data.js'></script>
<script src='/controllers/tabular.js'></script>
</body>
</html>