<!DOCTYPE html>
<html ng-app='worldPop'>
<head>
<title>World Populations</title>
<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='/style/app.css'>
</head>
<body>

<div class='header'>
  <h3>World Populations</h3>
</div>

<div ng-controller='SelectCtrl' class='select-view'>
  <div class='chart-control'>
    <label>Choose visualization type:</label>
    <br/>
    <input type='radio' ng-model='state.chart' value='linechart'/>
    <span>Line Chart</span>
    <br/>
    <input type='radio' ng-model='state.chart' value='scatterplot'/>
    <span>Scatter Plot</span>
    <br/>
  </div>

  <hr/>

  <div class='search-control'>
    <span>Search for other countries to add:</span>
    <input type='text' ng-model='search.name'/>
  </div>

  <div ng-if='!search.name'>
    <p>Please type in the country name to begin searching.</p>
  </div>
  <div ng-if='search.name'>
    <p>Search Results:</p>
    <div ng-repeat='searchResult in topFiveSearchResults()'>
      <span class='search-results'>
        {{searchResult}} <button ng-click='add($index)'>add</button>
      </span>
    </div>
    <div ng-if='topFiveSearchResults().length === 0'>
      Nothing matches the search query.
    </div>
  </div>

  <hr/>

  <div ng-if='selectedCountries.length === 0'>
    No countries selected at the moment.
  </div>
  <div ng-if='selectedCountries.length !== 0'>
    <p>Currently selected countries:</p>
    <div ng-repeat='selectedCountry in selectedCountries'>
      <span class='selected-countries'>
        {{selectedCountry}} <button ng-click='remove($index)'>remove</button>
      </span>
    </div>
  </div>
</div>

<div ng-controller='ChartCtrl' class='linechart-view'>
  <h4>Currently displaying data for {{data.name}}</h4>
  <div ng-if='state.chart === "linechart"'>
    <wp-linechart id='lc'></wp-linechart>
  </div>
  <div ng-if='state.chart === "scatterplot"'>
    <wp-scatterplot id='sp'></wp-scatterplot>
  </div>
</div>

<div ng-controller='TabularCtrl' class='tabular-view'>
  <table class='table table-bordered table-striped'>
    <thead><tr>
      <th>Country</th>
      <th ng-repeat='year in years'>{{year}}</th>
    </tr></thead>
    <tbody>
      <tr ng-repeat='countryData in countriesData'>
        <td>{{countryData.name}}</td>
        <td ng-repeat='yearPop in countryData.populationByYear'>
          {{yearPop.population}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script src='http://d3js.org/d3.v3.min.js' charset='utf-8'></script>

<script type='text/javascript'>
  var worldPopData = <%- worldPopData %>;
</script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js'></script>
<script src='/app.js'></script>
<script src='/services/wp_state.js'></script>
<script src='/services/wp_data.js'></script>
<script src='/controllers/chart.js'></script>
<script src='/controllers/tabular.js'></script>
<script src='/controllers/select.js'></script>
<script src='/directives/wp_linechart.js'></script>
<script src='/directives/wp_scatterplot.js'></script>
</body>
</html>