
body {
  background-color: #fafafa;
}

td {
  white-space: nowrap;
}

hr {
  border: 0;
  height: 1px;
  background: black;
}

.ng-cloak {
  display: none !important;
}

.loading {
  padding: 50px;
  font-size: 36px;
}

.header {
  margin-bottom: 25px;
  padding: 20px;
  padding-left: 50px;

  background-color: black;
}

.header h3 {
  margin: 0;

  color: white;
}

.tabular-view {
  margin: 20px;
  margin-left: 50px;
  border: 1px solid gray;

  background-color: white;

  display: inline-block;
}

.linechart-view {
  margin: 20px;
  border: 1px solid gray;
  padding: 20px;

  width: 1000px;
  height: 600px;
  background-color: white;

  display: inline-block;
}

.select-view {
  margin: 20px;
  margin-left: 50px;
  border: 1px solid gray;
  padding: 20px;

  overflow: scroll;

  width: 400px;
  height: 600px;
  background-color: white;

  display: inline-block;
  vertical-align:top
}

.select-view > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-view .selected-countries {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.select-view .search-results {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.select-view .search-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.axis line {
  fill: none;
  stroke: #000;
}

.label {
  font-size: 15px;
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.dot {
  fill: steelblue;
}