
body {
  padding: 50px;
}

td {
  white-space: nowrap;
}

.tabular-view {
  margin: 20px;
}

.linechart-view {
  margin: 50px;
  display: inline-block;
}

.select-view {
  border: 1px solid black;
  padding: 20px;
  display: inline-block;
  vertical-align:top
}

.select-view > div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.select-view .selected-countries {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.select-view .search-results {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.select-view .search-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.axis line {
  fill: none;
  stroke: #000;
}

.label {
  font-size: 15px;
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.dot {
  fill: steelblue;
}